version: '3'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: bookshop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
    postgres-data:
      external: true